<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Private area!</title>
    </head>
    <body>
        <i th:inline="text"> Welcome : Hello [[${#httpServletRequest.remoteUser}]]!</i>
        <h1>You can only see this if you are log in!</h1>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>